
* {
    background-color: rgb(237, 240, 247);    
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 2px;
}

/*-------------------------------------------------------------------*/
/*HEADER SECTION*/
header {
    font-size: 32px;
}

h1, h4 {
    font-weight: 300;
    text-align: center;
    margin:auto;
}

/*-------------------------------------------------------------------*/
/*MAIN SECTION*/
#main {
    border: 2px solid red;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#calendar {
    border: 3px solid black;
}

#info {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 10px
}

/*-------------------------------------------------------------------*/
/*CALENDAR HEADING*/
#month_selector {
    display: table-row;
    border: 1px solid green;
    width: 100%;
}

#month_selector > th {
    
    font-size: x-large;
    padding: 10px 0px;
}

/*-------------------------------------------------------------------*/
/*CALENDAR CELLS*/
#calendar td {
    border: 1px solid black;
    padding: 5px 95px 95px 5px;;
}

/*INFO TABLES*/
#info table {
    padding: 0px 20px 20px 20px;
    width: 100%;
    max-width: 350px;
    margin-right: 25px;
}

#info table td:nth-child(2) {
    text-align: right;
}

#info td {
    border: 1px solid green;
    padding: 10px;
    text-decoration: none;
    width: 50%;
}